/* Sintex By ThemeEaster */

/*  ==========================================================================
    Table of Contets
    ==========================================================================
    
    1.0 Common Styles
    2.0 Header Section
    3.0 Hero Section
    4.0 Promo Section
    5.0 Feature Section
    6.0 How It Works Section
    7.0 Content Section
    8.0 Product Section
    9.0 Pricing Section
    10.0 Testimonial Section
    11.0 Faq Section
    12.0 Sponsor Section
    13.0 Call To Action Section
    14.0 Widget Section
    15.0 Footer Section
    16.0 Scrool To Top
    
    ==========================================================================
    Sintex Product Landing Page Version 0.1
    ========================================================================== */

	@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
	
/*  ==========================================================================
    Common Styles
    ========================================================================== */
*{
	padding: 0;
	margin: 0;
}
body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #777;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing:antialiased;
	color: #333;
}
h1{
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
    color: #222;
    letter-spacing: -0.05em;
}
h2{
    font-size: 26px;
    color: #333;
    margin: 0 0 10px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.04em;
}
h3,h4{
    margin: 0 0 10px;
    font-weight: 600;
    line-height: 1.7;
    color: #333;
    letter-spacing: -0.01em;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5,h6{
    font-size: 14px;
    margin: 0 0 10px;
}
img{
    border: none;
    outline:none;
    max-width: 100%;
}
ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
p, li, a, span{}
p{
    font-size: 15px;
    margin-bottom: 15px;
}
a, a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
   color: #ddd !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder{ /* Firefox 18- */
   color: #ddd !important;  
}

input::-moz-placeholder,
textarea::-moz-placeholder{  /* Firefox 19+ */
   color: #ddd !important;  
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{  
   color: #ddd !important;  
}
button{
    border: none;
	background: none;
}
/* Helper Class */
.pd-15{
    padding: 15px;
}
.padding{
    padding: 100px 0;
}
.no-padding{
    padding: 0;
}
.padding-15{padding: 15px;}
.padding-20{padding: 20px;}
.bg-white{ background-color: #fff; }
.bg-grey{ background-color: #fafafa;}
.bg-dark{ background-color: #232323;}
.bd-top{ border-top: 1px solid #eaeaea;}
.bd-bottom{ border-bottom: 1px solid #eaeaea;}

.mb-10{ margin-bottom: 10px; }
.mb-15{ margin-bottom: 15px; }
.mb-20{ margin-bottom: 20px; }
.mb-25{ margin-bottom: 25px; }
.mb-30{ margin-bottom: 30px; }
.mb-35{ margin-bottom: 35px; }
.mb-40{ margin-bottom: 40px; }
.mb-45{ margin-bottom: 45px; }
.mb-50{ margin-bottom: 50px; }
.ml-15{ margin-left: 15px; }
.ml-20{ margin-left: 20px; }
.ml-25{ margin-left: 25px; }
.ml-30{ margin-left: 30px; }
.ml-35{ margin-left: 35px; }
.fz-28{ font-size: 28px; }
.fz-24{ font-size: 24px; }
.fz-22{ font-size: 22px; }
.fz-20{ font-size: 20px; }
.fz-18{ font-size: 18px; }
.fz-16{ font-size: 16px; }
.text-black{
    color: #333;
}
.text-white{
    color: #ffffff;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.display-table{
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}

.overlay{
    width: 100%;
    position: relative;
    z-index: 1;
}
.overlay:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Preloader Styles */
.loaded .site-preloader-wrap {
    opacity: 0;
    visibility: hidden;
}
.site-preloader-wrap {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: #272c30;
    top: 0;left: 0
}

.site-preloader-wrap .spinner {
    background-color: #1da1f2;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.spinner {
  width: 40px;
  height: 40px;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Button Style */
.btn-group{}
.btn-group a{
    margin: 5px;
}
.btn-group-left a{
    margin-right: 15px;
    margin-bottom: 15px;
}
.default-btn{
    background-color: #1da1f2;
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 0;
    display: inline-block;
}
.default-btn:hover{
    opacity: 0.8;
    color: #fff;
}
/*Section Heading*/
.section-heading{}
.section-heading h2{
    font-size: 40px;
    font-weight: 500;
}
/* Transition Effect */
a,a:hover, .overlay, img, .form-control,  .form-control:hover, button{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* ==========================================================================
   Header Section
   ========================================================================== */
.header-section{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    z-index: 99;
    position: sticky;
    left: 0;
    top: 0;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}
.navbar-fixed-top.header-section{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
}
.navbar{
    border: medium none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: relative;
    padding: 0;
}
.navbar-header {
    padding: 17px 0;
}
.navbar-header .brand{
    font-size: 25px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
	margin-left: 13px;
}

/* Nav Menu */
#navbar{
    z-index: 999;
    padding: 0 15px;
}
ul.nav{
    display: inline-block;
}
ul.nav > li{
    display: inline-block;
}
ul.nav > li > a{
    color: #777;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 70px;
}
ul.nav > li > a:hover,
ul.nav > li > a:focus,
ul.nav > li > a.active{
    background: none;
    color: #1da1f2;
    opacity: 1;
}
.mainmenu .default-btn{
    padding: 10px 30px;
    display: inline-block;
    margin-left: 20px;
}
.menu-btn{
    margin-left: 10px;
    margin-top: 10px;
}

/*Mobile Menu */
.menu-wrap{
    position: relative;
}
.slicknav_menu {
    background: none;
    padding: 4px 0;
    display:none;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.slicknav_nav {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.slicknav_btn {
    background-color: transparent;
    margin: 8px 5px 21px;
    z-index: 2;
}
.navbar-fixed-top .slicknav_btn{
    margin-bottom: 17px;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row, 
.slicknav_nav a,
.slicknav_nav a:hover{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.slicknav_nav .slicknav_row, 
.slicknav_nav a {
    padding: 10px 15px;
    margin: 0;
    color: #777;
}
.slicknav_nav a .caret{
    display: none;
}
.slicknav_nav ul{
    margin: 0;
}
.slicknav_nav ul li a{
    padding-left: 30px;
    font-size: 12px;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover{
    background-color: transparent;
    color: #333;
}

/* ==========================================================================
   Hero Section
   ========================================================================== */
.hero-section{
    background-color: #fff;
    position: relative;
    height: 580px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.hero-content h1,
.hero-content p{
    margin-bottom: 20px;
}
.hero-cam{
    animation-name: cam-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: cam-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

/*Cam Animation*/
@-webkit-keyframes cam-animation {
     0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
     50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
     100% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}
@keyframes cam-animation {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
/* ==========================================================================
   Promo Section
   ========================================================================== */
.promo-section{}
.promo-wrap{}
.promo-content{
    padding: 30px 15px;
    border: 1px dashed #ddd;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.promo-content:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.promo-content i{
    font-size: 40px;
    color: #1da1f2;
    margin-bottom: 15px;
}
.promo-content h3{
    margin-bottom: 5px;
}
.promo-content p{
    margin-bottom: 0;
}
/* ==========================================================================
   Feature Section
   ========================================================================== */
.feature-section{
    position: relative;
    z-index: 1;
}
.feature-section .section-heading{
    margin-bottom: 80px;
}
.feature-wrap{}
.feature-content{}
.feature-content li{
    position: relative;
    margin-bottom: 25px;
}
.feature-content li:last-child{
    margin-bottom: 0;
}
.feature-content li:before{
    background-color: #1da1f2;
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 14px;
    right: -20px;
    z-index: 1;
}
.feature-content li:after{
    background-color: #999;
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    top: 19px;
    right: -110px;
}
.feature-right.feature-content li:before{
    right: auto;
    left: -20px;
}
.feature-right.feature-content li:after{
    right: auto;
    left: -110px;
}
.feature-content h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
}
.feature-left .center{
    margin-right: 50px;
}
.feature-right .center{
    margin-left: 50px;
}
/*Feature Camera*/
.feature-cam {
	background-image: url(../img/feature-cam.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	width: 500px;
	height: 500px;
	left: calc(50% - 233px);
	top: calc(55% - 217px);
	display: block;
	animation-name: feature-cam-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: feature-cam-animation;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: -1;
}
/*Feature Cam Animation*/
 @-webkit-keyframes feature-cam-animation {
     0% {
         -webkit-transform: translateX(-20px);
         transform: translateX(-20px);
    }
     50% {
         -webkit-transform: translateX(-10px);
         transform: translateX(-10px);
    }
     100% {
         -webkit-transform: translateX(-25px);
         transform: translateX(-25px);
    }
}
 @keyframes feature-cam-animation {
     0% {
         -webkit-transform: translateX(-20px);
         transform: translateX(-20px);
    }
     50% {
         -webkit-transform: translateX(-10px);
         transform: translateX(-10px);
    }
     100% {
         -webkit-transform: translateX(-20px);
         transform: translateX(-20px);
    }
}
/* ==========================================================================
   Content Section
   ========================================================================== */
.content-section{}
.content-wrap{
    display: flex;
    align-items: center;
}
.content-details{}
.content-details h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.content-details p{
    margin-bottom: 20px;
}
/* ==========================================================================
   How ItWorks Section
   ========================================================================== */
.how-it-works-section{
    background-image: url(../img/how-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    z-index: 1;
}
.how-it-works-section:before{
    background-color: rgba(29,161,242,0.8);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.how-content{
    position: relative;
}
.arrow{
    position: absolute;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    content: "";
    width: 236px;
    height: 40px;
    left: 250px;
    top: 10px;
}
.how-content i{
    color: #fff;
    font-size: 50px;
    margin-bottom: 15px;
}
.how-content h3{
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
}
.how-content p{
    color: #ddd;
    margin-bottom: 0;
}
/* ==========================================================================
   Product Section
   ========================================================================== */
.product-section{}
.product-item{
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    overflow: hidden;
}
.product-item:hover .product-thumb img{
    transform: scale(1.1);
}
.product-thumb{
    display: block;
    overflow: hidden;
}
.product-thumb img{
    width: 100%;
}
.cart{
    position: absolute;
    width: 100%;
    height: auto;
    left: calc(25% - 0px);
    bottom: 150px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.2s ease-in-out;
}
.product-item:hover .cart{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}
.cart .cart-btn{
    background-color: #1da1f2;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    display: inline-block;
}
.cart .cart-btn:hover{
    opacity: 0.9;
}
.product-content{
    padding: 20px 10px;
    border-top: 1px solid #eaeaea;
    display: block;
}
.product-content h3{
    margin-bottom: 0;
    font-size: 20px;
    color: #1da1f2;
}
.product-content h3 a:hover{
    color: #1da1f2;
    opacity: 0.8;
}
.product-content p{
    margin-bottom: 5px;
}
.product-content .price{
    font-size: 18px;
    color: #ff4c4c;
    font-weight: 700;
    margin-right: 10px;
    display: inline-block;
}
.product-content .stock{
    font-weight: 700;
    color: #34bf49;
}
.rattings{
    display: inline-block;
}
.rattings li{
    display: inline-block;
    color: #fab702;
    font-size: 15px;
}
/*Prev Next Style*/
.owl-nav div{
    font-size: 25px;
    color: #777;
    line-height: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -40px;
    opacity: 0.5;
    top: calc(50% - 15px);
    transition: opacity 0.3s ease-in-out;
}
.owl-nav div.owl-next{
    left: auto;
    right: -40px;
}
.owl-nav div:hover{
    color: #1da1f2;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
/* ==========================================================================
   Pricing Section
   ========================================================================== */
.pricing-section{}
.pricing-wrap{}
.pricing-box{
    border: 1px solid #eaeaea;
    border-bottom: 8px solid #1da1f2;
    border-radius: 5px;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.pricing-box:hover{
    opacity: 1;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
.pricing-head{
    border-bottom: 1px solid #eaeaea;
    padding: 30px;
}
.pricing-head span{
    font-size: 12px;
    color: #777;
    letter-spacing: 0;
    text-transform: uppercase;
}
.pricing-head h2{
    font-size: 50px;
    color: #1da1f2;
    font-weight: 500;
    margin-bottom: 0;
}
.active{
    opacity: 1;
}
.active .pricing-head{
    background-color: #1da1f2;
}
.active .pricing-head h2,
.active .pricing-head span{
    color: #fff;
}
.pricing-mid{
    padding: 20px 30px;
}
.pricing-mid i{
    color: #1da1f2;
    margin-right: 15px;
}
.pricing-mid li{
    margin: 10px 0;
    font-weight: 400;
}
.pricing-footer{
    padding: 0 30px 25px;
}
/* ==========================================================================
   Testimonial Section
   ========================================================================== */
.testimonial-section{}
.testi-item{
    padding: 30px 15px;
    border: 1px solid #eaeaea;
}
.testi-details{
    display: flex;
    align-items: center;
}
.testi-thumb{}
.testi-thumb img{
    max-width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.reviews{
    margin-left: 10px;
}
.reviews h3{
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin: 0;
}
.reviews .rattings{
    margin-top: -5px;
    display: block;
}
/* ==========================================================================
   Sponsor Section
   ========================================================================== */
.sponsor-section{
    padding: 20px 0;
}
.sponsor-section .sponsor-item img{
    width: 100%;
    padding: 20px;
    opacity: 0.8;
}
.sponsor-section .sponsor-items li img:hover{
    opacity: 1;
}
.faq-wrap{}
.faq-wrap p{
    margin-bottom: 0;
}
/* ==========================================================================
   CTA Section
   ========================================================================== */
.cta-section{
    background-color: #1da1f2;
    padding: 60px 0;
}
.cta-content h2{
    color: #fff;
    margin-bottom: 0;
    font-size: 28px;
}
.cta-section .default-btn{
    background-color: #fff;
    color: #555;
}
/* ==========================================================================
   Widget Section
   ========================================================================== */
.widget-section{}
.widget-content{}
.social-share{
    display: inline-block;
    margin-top: 20px;
}
.social-share li{
    display: inline-block;
    margin: 0 5px;
}
.social-share li a{
    background-color: #f2f2f2;
    color: #1da1f2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}
.social-share li a:hover{
    background-color: #ddd;
}
/* ==========================================================================
   Footer Section
   ========================================================================== */
.footer-section{
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    display: block;
    color: #777;
    text-align: center;
    padding: 30px 0;
}
.footer-section p{
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}  

/* ==========================================================================
   Scroll To Top
   ========================================================================== */
#scroll-to-top{
    background-color: #1da1f2;
    display: none;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    line-height: 45px;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
#scroll-to-top:hover{
    opacity: 0.8;
    color: #fff;
}
